{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>
        <script type="text/javascript" src="../../static/coloring/vendors/jquery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../../static/coloring/vendors/paper/paper-full.min.js"></script>
        <script src="../../static/coloring/vendors/hammer/hammer.min.js"></script>
        <script src="../../static/coloring/vendors/hammer/jquery.hammer.js"></script>
        <link rel="stylesheet" type="text/css" href="../../static/coloring/vendors/bootstrap/css/bootstrap.css" />
  
	<style type="text/css">
        #popup {
            position: absolute;
            background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .95));
            padding: 30px 40px;
            z-index: 2;
        }
        #popupheader {
            margin-bottom: 18px;
            cursor: move;
            z-index: 3;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            color: #ddd;
            letter-spacing: 2px;
        }
        
        body {
          display: flex;
          flex: auto;
        }
        
		#colorPalette {
			width: 300px;
			background-color: #f1f1f1;
            display: inline-block;
		}
        
		.swatch {
			width: 36px !important;
			height: 36px !important;
			-moz-border-radius: 18px !important;
			-webkit-border-radius: 18px !important;
			border-radius: 18px !important;
			margin: 11px !important;
            z-index: 5; /* remove? */
		}

		#myCanvas {
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            border-style: solid;
            border-width: 2px;
		}
        
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');
      
			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};	
			// color palette
			var cp = {
				history: ["red"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myGradientInteraction(){
                var rect = new paper.Rectangle(new paper.Point(150, 250), new paper.Point(575, 475));
            var path = new paper.Path.Rectangle(rect);
                path.fillColor = 'red';
                path.closed = true;
                paper.view.draw();
				var tool = new paper.Tool();
                var o;
				tool.onMouseDown = function (event) {
                    o = event.point;
				}
				tool.onMouseUp = function (event) {
					var newFill = {
                        gradient: {
                                stops: [cp.history[cp.history.length - 2], cp.history[cp.history.length - 1]]
                        },
                        origin: o,
                        destination: event.point
                    }
                    path.fillColor = newFill;
                    paper.view.draw();
				}
			}
            

			function myCustomInteraction() {
				var tool = new paper.Tool();
        
                var h = Hammer(document.getElementById("myCanvas"));
        
                h.on('tap', function(event) {
                    var point = {
                        x: event.changedPointers[0].layerX,
                        y: event.changedPointers[0].layerY,
                        className: "Point"
                    }

                    var hit = mandala.item.hitTest(point, { tolerance: 1, fill: true });

                    if (hit) {
                        hit.item.fillColor = cp.history[cp.history.length - 1];
                    }
                });
        
                h.on('press', function(event) {
                    var point = {
                        x: event.changedPointers[0].layerX,
                        y: event.changedPointers[0].layerY,
                        className: "Point"
                    }
                    var hit = mandala.item.hitTest(point, { tolerance: 1, fill: true });
                    randomizeColors();
                    
                });
			}
      
			// create a color palette with the given colors
			function createColorPalette(colors) {
				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i]).addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}
            
                function click(id, color) { 
                      cp.history.push(document.getElementById(id).getAttribute("style").substr(34)); 
                      console.log(document.getElementById(id).getAttribute("style").substr(34));
                }
            
            function randomizeColors() {

              for (var i = 0; i < 9; i++) {
                    var currId = "c".concat((i + 1).toString());
                    var randomColor = getRandomColor();
                                 
                    document.getElementById(currId).outerHTML = 
                        "<div " + "id=" + currId + " class='col swatch' style='cursor: pointer; background-color:" + randomColor + ";'  onclick=\"click('" + currId + "," + randomColor.toString() +'\');"></div>';

                    document.getElementById(currId).onclick = function() {
                        cp.history.push(randomColor); 
                    };
				} 
			}
            
            // generates random color
            function getRandomColor() {
              var letters = '0123456789ABCDEF';
              var color = '#';
              for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
              }
              return color;
            }
            
            
            function closePopup() {
                document.getElementById("popup").style.opacity = 0;
            }
            
            function openPopup() {
                document.getElementById("popup").style.opacity = 1;
            }
            
            
			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}
			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();
				paper.project.importSVG(mandala.filePath, function(item) { 
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0, mandala.item);
				    if (custom) {
				    	myCustomInteraction();	
				    } else {
				    	myGradientInteraction();
				    }		
					
				}); 
			}
            
			// To see your myGradientInteraction version visit: http://<your url>:8000/coloring/?type=gradient
			// To see your myCustomInteraction version visit: http://<your url>:8000/coloring/
			var url = window.location.href;
			if (url.indexOf("gradient") > -1) {
				init(false);
			} else {
				init(true);
			}
		}
	</script>
	
	<script> // https://www.w3schools.com/howto/howto_js_draggable.asp
        $(document).ready(function() { 
            dragElement(document.getElementById("popup"));

            function dragElement(elmnt) {
              var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
              if (document.getElementById(elmnt.id + "header")) {
                // if present, the header is where you move the DIV from:
                document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
              } else {
                // otherwise, move the DIV from anywhere inside the DIV: 
                elmnt.onmousedown = dragMouseDown;
              }

              function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
              }

              function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
              }

              function closeDragElement() {
                // stop moving when mouse button is released:
                document.onmouseup = null;
                document.onmousemove = null;
              }
            }
        });
    </script>
</head>
<body>	

	<canvas id="myCanvas" width="750px" height="750px">
    
  </canvas>
	<div id="color-palette"></div>
  
  <div id="popup">
      <div id="popupheader">Random Colors</div>
            <div id="popup-colors" class="popup-colors">
          <div class="row">
                <div id="c1" class="col swatch"></div>
                <div id="c2" class="col swatch"></div>
                <div id="c3" class="col swatch"></div>
           </div>
            <div class="row">
                <div id="c4" class="col swatch"></div>
                <div id="c5" class="col swatch"></div>
                <div id="c6" class="col swatch"></div>
           </div>
            <div class="row">
                <div id="c7" class="col swatch"></div>
                <div id="c8" class="col swatch"></div>
                <div id="c9" class="col swatch"></div>
           </div>
      </div>

  </div>
</body>
</html>